.openTitle {
  animation: open-title 0.5s ease-in-out;
}

@keyframes open-title {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.openVector {
  stroke-dasharray: 790px;
  stroke-dashoffset: 790px;
  animation: open-vector 0.3s ease-in-out 0.3s forwards;
}

@keyframes open-vector {
  from {
    stroke-dashoffset: 790px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}
