@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ds-digital";
  src: url("/font/DS-DIGI.TTF") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "hdsans";
  src: url("/font/HyundaiSansTextKROTFBold.otf") format("opentype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "hdsans";
  src: url("/font/HyundaiSansTextKROTFMedium.otf") format("opentype");
  font-weight: medium;
  font-display: swap;
}

@layer base {
  body {
    font-family: "hdsans";
  }
}

@layer components {
  .graphic-gradient {
    @apply bg-gradient-to-r from-[#3ED7BE] to-[#069AF8];
  }
  .sketch-line {
    position: relative;
  }
  .sketch-line::after {
    content: "";
    background: url(/sketchLine.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: 3.6em;
    height: 1em;
    bottom: -0.75em;
    left: calc(50% - 1.8em);
  }
}
