@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ds-digital";
  src: url("/font/DS-DIGI.TTF") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "hdsans";
  src: url("/font/HyundaiSansTextKROTFBold.otf") format("opentype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "hdsans";
  src: url("/font/HyundaiSansTextKROTFRegular.otf") format("opentype");
  font-weight: regular;
  font-display: swap;
}

@layer base {
  body {
    font-family: "hdsans";
  }
  body.scrollLocked {
    position: fixed;
    width: 100%;
    overflow-y: auto;
  }
}
