@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "hdsans";
  src: url("/font/HyundaiSansTextKROTFMedium.woff2") format("woff2"),
    url('/font/HyundaiSansTextKROTFMedium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@layer base {
  body {
    font-family: "hdsans", sans-serif;
  }
  body.scrollLocked {
    position: fixed;
    width: 100%;
    overflow-y: auto;
  }
}
